.log {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  font-family: Tahoma, Geneva, sans-serif;
}

.time {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.name {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.item {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: right;
}

.place {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: center;
}

.amount {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: right;
}

.land-auction {
  background-color: #FFFFC0;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: center;
}

.land-deal {
  background-color: #E0FFE0;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: center;
}

.land-confiscation {
  background-color: #FFE0E0;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: center;
}
